{% extends 'recette/base.html' %}
{% block contenu %}
{% load static %}

<div class="wrap full-wrap">
    <h1 class="entry-title">
    Ajouter une recette
    </h1>
    <div class="main-wrap">
        <div class="loop">
            <div class="inner">
                <form action="{% url 'recette:ajout_recette' %}" enctype="multipart/form-data" class="searchform" method="post">
                    {% csrf_token %}
                    {{ recette_formset.as_p }}
                    {{ media_formset.as_p }}
                    <input type="submit" value="ajouter">
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}