{% extends 'recette/base.html' %}
{% block contenu %}
{% load static %}

<div class="wrap full-wrap">
    <h1 class="entry-title">
    Ajouter des ingrédients pour {{ recette.titre }}
    </h1>
    <div class="main-wrap">
        <div class="loop">
            <div class="inner">
                <form action="{% url 'recette:ajout_ingredient' recette.id %}" class="searchform" method="post">
                    {% csrf_token %}
                    {% for formIngredient in liste_formulaire_ingredient %}
                    {{ formIngredient.as_p }}
                    {% endfor %}
                    {{ liste_formulaire_ingredient.management_form }}
                    <input type="submit" name="ajouter" value="ajouter">
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}