<!doctype html>
<html class="home blog no-js" lang="fr-FR">
<head>
    <title>Recettes</title>
{% load static %}
    <meta charset="UTF-8"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
          type="text/css" media="all"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Amatic+SC%3A400%2C700%7CLato%3A400%2C700%2C400italic%2C700italic&amp;ver=4.9.8"
          type="text/css" media="screen"/>
    <link rel="stylesheet" href="{% static 'recette/css/style.css' %}" type="text/css" media="screen"/>
    <link rel="stylesheet" href="{% static 'recette/css/print.css' %}" type="text/css" media="print"/>
    <!--[if (lt IE 9) & (!IEMobile)]>
    <link rel="stylesheet" id="lt-ie9-css" href="{% static 'recette/css/ie.css' %}" type="text/css" media="screen"/>
    <![endif]-->
    <script src="{% static 'recette/js/jquery-3.0.0.min.js' %}"></script>
    <script src="{% static 'recette/js/jquery-migrate-3.0.1.min.js' %}"></script>
    <script src="{% static 'recette/js/recette.js' %}"></script>

</head>
<body class="home sticky-menu sidebar-off" id="top">

<header class="header">

    <div class="header-wrap">

        <div class="logo plain logo-left">
            <div class="site-title">
                <a href="{% url 'recette:index' %}" title="Revenir à la page d'accueil">Recettes</a>
            </div>
        </div><!-- /logo -->

        <nav id="nav" role="navigation">
            <div class="table">
                <div class="table-cell">
                    <ul id="menu-menu-1">
                        <li class="menu-item">
                            <a href="{% url 'recette:index' %}">Accueil</a></li>
                        <li class="menu-item">
                            <a href="{% url 'recette:ajout_recette' %}">Ajouter une recette</a></li>
                        <li class="menu-item">
                            {% if user.is_authenticated %}
                            <a href="{% url 'admin:logout' %}?next=/recette/" title="Se déconnecter">
                                {{ user.get_username }}
                            </a>
                            {% else %}
                            <a href="{% url 'admin:login' %}?next=/recette/">Se connecter</a>
                            {% endif %}
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <a href="#nav" class="menu-trigger"><i class="fa fa-bars"></i></a>

        <a href="#topsearch" class="search-trigger"><i class="fa fa-search"></i></a>

    </div>

</header>

{% block contenu %}
{% endblock %}

<div id="topsearch">
    <div class="table">
        <div class="table-cell">
            <form role="search" method="post" class="searchform" action="{% url 'recette:index' %}">
                <div>
                    {% csrf_token %}
                    <input type="text" value="" name="s" class="s" placeholder="Votre recherche"/>
                    <input type="submit" class="searchsubmit" value="Search"/>
                </div>
            </form>
        </div>
    </div>
    <a href="#topsearch" class="search-trigger"><i class="fa fa-times"></i></a>
</div>

<div class="footer-widgets widget-count-4">

    <div class="wrap">

        <div class="mt-about-you-widget">
            <div class="widget footer">

                <img class="mt-about-avatar" src="{% static 'recette/images/quisuisje.jpg' %}" alt="Nana"/>


                <h4>Nana</h4>

                <div class="mt-about-bio">
                    <p>Pendant le grand confinement, mon mari et mon fils ainé se
                    sont mis à coder ce petit espace pour mes recettes en python avec Django...</p>
                </div>


            </div>
        </div>
        <div class="widget footer"><h4>Dernières recettes</h4>
            <ul>
                {% for recette in aff_footer %}
                <li>
                    <a href="{% url 'recette:detail' recette.id %}">{{ recette.titre }}</a>
                </li>
                {% endfor %}
            </ul>
        </div>
        <div class="widget footer"><h4>Categories</h4>
            <ul>
                <li class="cat-item cat-item-6">
                    <a href="#" title="A cute little description would go in here">Blog</a>
                </li>
                <li class="cat-item cat-item-7">
                    <a href="#" title="A cute little description would go in here">Cute</a>
                </li>
                <li class="cat-item cat-item-8">
                    <a href="#">Fitness</a>
                </li>
                <li class="cat-item cat-item-9">
                    <a href="#">Fun</a>
                </li>
            </ul>
        </div>
        <div class="widget footer"><h4>Gallery</h4>
            <div class="textwidget">
                <img src="{% static 'recette/images/icons/social-dribbble-black@2x.png' %}" alt="">
            </div>
        </div>
    </div>

</div>

<footer class="footer">
    <div class="footer-wrap">
        <div id="footer-text">&copy; 2018 Itsy.
            Réalisé par <a href="https://freehtml5.co" target="_blank">FreeHTML5</a>. Merci à eux.
        </div>
        <a href="#content">Recettes <i class="fa fa-chevron-up"></i></a> -
        <a href="#top" id="btt">Haut <i class="fa fa-chevron-up"></i></a>
    </div>
</footer>
<script>var ie9 = false;</script>
<!--[if lte IE 9 ]>
<script> var ie9 = true; </script>
<![endif]-->
<script src="{% static 'recette/js/global-plugins.min.js' %}"></script>
<script src="{% static 'recette/js/main.js' %}"></script>
</body>
</html>