{% extends 'recette/base.html' %}
{% block contenu %}
{% load static %}

<div class="hero" style="background-image: url('{% static 'recette/images/lead2.jpg' %}'); text-align:right;">
    <div class="hero-inner">
        <div class="inner">
            <h1><span class="border border-top border-bottom">Nana</span></h1>
            <div class="hero-line-one"></div>
            <div class="hero-line-two">
                <span class="border border-bottom">
                    <a href="#" style="color:#FFF;">
                        cuisine
                    </a>
                </span>
            </div>
        </div>

        <a class="more-arrow" href="#content"><i class="fa fa-chevron-down"></i><span>Scroll Down</span></a>

    </div>
</div>
<div class="home-sticky" id="content">

    <h2 class="home-sticky-title">Mes recettes</h2>

    <div class="sticky-inner">
    {% for recette in page_obj %}
        <aside class="home-sticky-post post has-post-thumbnail sticky">

  		    <span class="post-image">
  				<a href="{% url 'recette:detail' recette.id %}">
            {% for media in recette.media_set.all %}
                <img width="502" height="502" src="{{ media.photo.url }}"
                     class="attachment-sticky size-sticky" alt=""/>
            {% endfor %}
  				</a>
  		    </span>

            <div class="inner">
                <h3 class="entry-title">
                    <a href="#">{{ recette.titre }}</a>
                </h3>

                <ul class="meta top">
                    <li class="time">
                        <a href="#">
                            <time class="post-date updated" datetime="2015-02-02">{{ recette.cree }}</time>
                        </a>
                    </li>
                </ul>
            </div>

        </aside>
    {% endfor %}

    </div>
    <div class="pagination">
        <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">Début</a> -
            <a href="?page={{ page_obj.previous_page_number }}">Précédente</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} sur {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">Suivante</a> -
            <a href="?page={{ page_obj.paginator.num_pages }}">Dernière</a>
        {% endif %}
        </span>
    </div>
</div>


{% endblock %}